<launch>
    <arg name="rviz" default="true"/>
    <arg name="plotting" default="false" />
    <arg name="file_write_cb" default="false" />
    <arg name="box_parent_link" default="world"/>

    <!-- Load Robot Model    -->
    <param name="robot_description"  command="$(find xacro)/xacro --inorder $(find tamp_ompl)/urdf/bin_picking.xacro"/>

    <!-- Load Robot Semantic -->
    <param name="robot_description_semantic" textfile="$(find tamp_examples)/moveit_config/config/robot.srdf" />

    <!-- Launch GUI to drive joints   -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Launch robot state publisher - may need to remap to /iiwa/joints..-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- Set simulated box parameters -->
    <param name="box_parent_link" value="$(arg box_parent_link)"/>

    <!-- Launch planner node -->
    <node name="tamp_node" pkg="tamp_examples" type="tamp_examples" output="screen">
        <param name="plotting" value="$(arg plotting)"/>
        <param name="file_write_cb" value="$(arg file_write_cb)" />
    </node>

    <!-- Launch visualization -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="pick_and_place_viz"
        args="-d $(find trajopt_examples)/config/pick_and_place_plan.rviz" />

</launch>
